# Website (Required)
PUBLIC_WEBSITE_URL=

# Piston (Required)
PISTON_API_KEY=
ALLOWED_ORIGIN=

# Analytics (Optional)
PUBLIC_POSTHOG_KEY=

# Discord Bot (Optional)
DISCORD_CLIENT_ID=
DISCORD_PUBLIC_KEY=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=
